@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, rgba(30,33,162,1),  rgba(48,43,99,1) , rgba(15,12,41,1));
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    background: transparent;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 100%;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: #333333;
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius:  3px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #EE9327;
}

.calc-button:hover {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.calc-button:last-child:active {
    background-color: #EE9327;
}

.calc-button:active {
    background-color: #333333;
}

.double {
    flex-basis: 46%;
}

.triple {
    flex-basis: 74%;
}